# Import & Config

In [37]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

### Load Data

In [38]:
# Read the CSV file
df_raw = pd.read_csv('../data/raw/creditscore_data_raw.csv')
print("Dataset shape:", df_raw.shape)
print("\nDataset info:")
df_raw.info()

Dataset shape: (100000, 28)

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

/var/folders/th/r1yk0vpn0rz7y_4vcvcbqy8h0000gn/T/ipykernel_37039/24460700.py:2: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df_raw = pd.read_csv('../data/raw/creditscore_data_raw.csv')

### Columns Validation

In [39]:
# Get basic statistics of the dataset
print("Dataset description:")
print(df_raw.describe())

print("\nNull values in each column:")
print(df_raw.isnull().sum())

Dataset description:
       Monthly_Inhand_Salary  Num_Bank_Accounts  Num_Credit_Card  \
count           84998.000000      100000.000000     100000.00000
mean             4194.170850          17.091280         22.47443
std              3183.686167         117.404834        129.05741
min               303.645417          -1.000000          0.00000
25%              1625.568229           3.000000          4.00000
50%              3093.745000           6.000000          5.00000
75%              5957.448333           7.000000          7.00000
max             15204.633333        1798.000000       1499.00000

       Interest_Rate  Delay_from_due_date  Num_Credit_Inquiries  \
count  100000.000000        100000.000000          98035.000000
mean       72.466040            21.068780             27.754251
std       466.422621            14.860104            193.177339
min         1.000000            -5.000000              0.000000
25%         8.000000            10.000000              3.000000
50%        13.000000            18.000000              6.000000
75%        20.000000            28.000000              9.000000
max      5797.000000            67.000000           2597.000000

       Credit_Utilization_Ratio  Total_EMI_per_month
count             100000.000000        100000.000000
mean                  32.285173          1403.118217
std                    5.116875          8306.041270
min                   20.000000             0.000000
25%                   28.052567            30.306660
50%                   32.305784            69.249473
75%                   36.496663           161.224249
max                   50.000000         82331.000000

Null values in each column:
ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

Quando olhamos para o resultado do .describe.show vemos aqui algumas oportunidades de tratamento.
Colunas como "Age" merecem atenção, variando de -500 a 995 com uma média e desvio padrão fora da realidade.
Não só ela, temos também colunas com "_" após ou antes o valor, desvios padrões e médias que indicam presença de outliers.

### Data Transform

Decidimos por eliminar colunas que não vão influenciar no modelo e estão apenas aumentando o número de dados, como "Name" e "SSN".
Aplicamos também substituições de valores que achamos válidas, retiramos o "_", limitando valores que estão de fato fora da realidade.

In [40]:
def data_transform(df):
    # Create a copy of the dataframe
    df = df.copy()
    
    # Drop unnecessary columns
    df = df.drop(['Name', 'SSN'], axis=1)
    
    # Replace placeholder values
    df['Occupation'] = df['Occupation'].replace('_______', 'N/A')
    
    # Handle Monthly_Inhand_Salary
    df['Monthly_Inhand_Salary'] = pd.to_numeric(df['Monthly_Inhand_Salary'], errors='coerce')
    df['Annual_Income'] = pd.to_numeric(df['Annual_Income'].astype(str).str.replace('_', ''), errors='coerce')
    df.loc[df['Monthly_Inhand_Salary'].isna(), 'Monthly_Inhand_Salary'] = df['Annual_Income'] / 12
    
    # Clean and convert numeric columns - handle string values first
    numeric_cols = ['Age', 'Num_of_Loan', 'Monthly_Balance', 'Num_of_Delayed_Payment', 
                   'Changed_Credit_Limit', 'Amount_invested_monthly']
    
    for col in numeric_cols:
        # Convert to string first to handle any non-string values
        df[col] = df[col].astype(str)
        # Replace underscores and convert to numeric
        df[col] = pd.to_numeric(df[col].str.replace('_', ''), errors='coerce')
    
    # Replace special values
    df['Credit_Mix'] = df['Credit_Mix'].replace('_', 'N/A')
    df['Payment_Behaviour'] = df['Payment_Behaviour'].replace('!@9#%8', 'N/A')
    
    # Handle age outliers
    df.loc[(df['Age'] > 100) | (df['Age'] <= 0), 'Age'] = np.nan
    
    return df

# Apply transformations
df_raw = data_transform(df_raw)

# Check the results
print("\nTransformed dataset info:")
df_raw.info()

print("\nCheck for any remaining underscores in data:")
for column in df_raw.columns:
    if df_raw[column].dtype == 'object':  # Only check string columns
        has_underscore = df_raw[column].astype(str).str.contains('_').any()
        if has_underscore:
            print(f"Column {column} still contains underscores")
            print(df_raw[df_raw[column].astype(str).str.contains('_')][column].unique())

print("\nSample of transformed data:")
print(df_raw.head())

Transformed dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 26 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Age                       97224 non-null   float64
 4   Occupation                100000 non-null  object
 5   Annual_Income             100000 non-null  float64
 6   Monthly_Inhand_Salary     100000 non-null  float64
 7   Num_Bank_Accounts         100000 non-null  int64
 8   Num_Credit_Card           100000 non-null  int64
 9   Interest_Rate             100000 non-null  int64
 10  Num_of_Loan               100000 non-null  int64
 11  Type_of_Loan              88592 non-null   object
 12  Delay_from_due_date       100000 non-null  int64
 13  Num_of_Delayed_Payment    92998 non-null   float64
 14  Changed_Credit_Limit      97909 non-null   float64
 15  Num_Credit_Inquiries      98035 non-null   float64
 16  Credit_Mix                100000 non-null  object
 17  Outstanding_Debt          100000 non-null  object
 18  Credit_Utilization_Ratio  100000 non-null  float64
 19  Credit_History_Age        90970 non-null   object
 20  Payment_of_Min_Amount     100000 non-null  object
 21  Total_EMI_per_month       100000 non-null  float64
 22  Amount_invested_monthly   95521 non-null   float64
 23  Payment_Behaviour         100000 non-null  object
 24  Monthly_Balance           98800 non-null   float64
 25  Credit_Score              100000 non-null  object
dtypes: float64(10), int64(5), object(11)
memory usage: 19.8+ MB

Check for any remaining underscores in data:
Column Customer_ID still contains underscores
['CUS_0xd40' 'CUS_0x21b1' 'CUS_0x2dbc' ... 'CUS_0xaf61' 'CUS_0x8600'
 'CUS_0x942c']
Column Occupation still contains underscores
['Media_Manager']
Column Outstanding_Debt still contains underscores
['1328.93_' '1283.37_' '2797.17_' '3818.57_' '343.84_' '363.51_' '404.51_'
 '1755.81_' '2593.44_' '89.62_' '1054.86_' '1374.23_' '1166.47_' '457.81_'
 '1684.06_' '1126.35_' '2098.83_' '761.18_' '1343.01_' '1342.61_'
 '1435.94_' '2354.21_' '1319.87_' '821.27_' '3271.84_' '465.04_' '218.25_'
 '1274.59_' '1033.59_' '642.42_' '94.75_' '4145.87_' '328.41_' '4813.02_'
 '477.41_' '165.88_' '1286.68_' '128.33_' '2106.68_' '3078.82_' '634.77_'
 '878.19_' '2518.51_' '1235.48_' '669.35_' '240.6_' '70.66_' '3099.57_'
 '486.48_' '1124.37_' '152.6_' '1716.82_' '886.09_' '1370.48_' '640.4_'
 '484.43_' '1417.89_' '1539.61_' '2517.0_' '539.59_' '802.47_' '289.1_'
 '4542.88_' '590.85_' '155.2_' '697.86_' '825.25_' '1644.31_' '960.38_'
 '282.06_' '985.01_' '1491.56_' '3723.83_' '1350.6_' '1248.05_' '3531.62_'
 '1017.45_' '60.04_' '2468.2_' '2234.83_' '1073.76_' '4972.01_' '2107.76_'
 '3754.18_' '3656.46_' '291.71_' '281.42_' '1251.25_' '47.18_' '381.06_'
 '174.79_' '4375.21_' '1412.35_' '2296.23_' '1023.62_' '1912.96_'
 '221.86_' '3090.08_' '1474.32_' '396.97_' '1457.54_' '479.81_' '1675.0_'
 '3513.87_' '1202.05_' '698.05_' '83.96_' '500.24_' '50.93_' '227.12_'
 '1172.87_' '2817.77_' '3257.62_' '1331.37_' '1729.78_' '1304.45_'
 '1393.23_' '839.1_' '82.36_' '1042.25_' '1155.94_' '2818.83_' '754.55_'
 '679.2_' '1393.85_' '1358.96_' '1200.53_' '1721.85_' '929.51_' '1353.06_'
 '1184.81_' '1078.95_' '321.76_' '4735.18_' '288.92_' '163.11_' '1150.03_'
 '2589.63_' '2554.65_' '289.59_' '364.35_' '328.91_' '202.68_' '1372.21_'
 '4010.91_' '1170.65_' '664.2_' '651.92_' '1103.08_' '1275.32_' '1051.51_'
 '3445.84_' '1052.21_' '4401.57_' '233.93_' '3980.49_' '305.84_'
 '2550.65_' '506.93_' '1427.03_' '1274.63_' '743.65_' '1438.69_'
 '1265.83_' '702.16_' '755.17_' '3084.5_' '1619.22_' '2080.28_' '1109.03_'
 '905.18_' '1189.51_' '684.03_' '2162.63_' '773.94_' '108.67_' '3057.46_'
 '1398.28_' '1112.8_' '4.61_' '951.78_' '2154.6_' '1279.86_' '865.3_'
 '65.59_' '313.97_' '880.43_' '718.95_' '2680.87_' '1389.92_' '849.02_'
 '1216.59_' '572.55_' '2549.27_' '135.37_' '891.96_' '2196.59_' '3951.34_'
 '656.7_' '790.99_' '874.44_' '924.21_' '153.99_' '1328.9_' '2405.43_'
 '816.95_' '2289.38_' '823.66_' '96.62_' '1477.83_' '1773.45_' '695.45_'
 '3093.39_' '2570.66_' '1076.67_' '4525.41_' '502.35_' '554.82_' '783.52_'
 '2550.26_' '1238.06_' '250.56_' '60.25_' '1269.66_' '2447.81_' '137.68_'
 '3019.17_' '375.51_' '2460.77_' '2393.94_' '3356.86_' '3600.06_'
 '678.58_' '678.53_' '1366.18_' '2598.21_' '1571.84_' '1199.47_'
 '1434.75_' '1427.36_' '4896.28_' '3665.2_' '883.9_' '2444.84_' '4607.43_'
 '300.7_' '1382.56_' '171.45_' '529.84_' '725.53_' '187.21_' '1281.77_'
 '405.45_' '270.42_' '647.15_' '1340.52_' '1639.82_' '1287.97_' '872.16_'
 '1584.95_' '2748.82_' '1305.12_' '1169.13_' '1289.91_' '2914.68_'
 '4622.5_' '186.6_' '465.86_' '1552.71_' '2896.95_' '188.33_' '330.68_'
 '182.91_' '1478.07_' '1477.46_' '822.72_' '1014.5_' '884.18_' '1539.17_'
 '629.16_' '1490.48_' '2255.57_' '113.42_' '994.53_' '4381.33_' '3523.03_'
 '28.15_' '1873.53_' '499.1_' '1054.9_' '566.98_' '2461.32_' '2052.35_'
 '3421.09_' '1264.42_' '1617.55_' '891.64_' '66.47_' '1324.1_' '1306.74_'
 '1519.71_' '895.2_' '1151.7_' '484.16_' '2781.03_' '2268.36_' '830.07_'
 '1136.85_' '2193.11_' '431.39_' '1025.3_' '2170.62_' '4106.5_' '587.02_'
 '339.47_' '4247.2_' '3917.82_' '3990.44_' '693.39_' '310.76_' '1774.51_'
 '1286.42_' '674.41_' '1464.74_' '517.07_' '4525.71_' '393.52_' '530.96_'
 '645.77_' '1160.42_' '3252.14_' '1746.37_' '1234.91_' '3114.29_' '59.17_'
 '2987.02_' '1074.99_' '4974.81_' '715.18_' '53.79_' '1256.67_' '922.89_'
 '466.36_' '533.41_' '650.47_' '659.68_' '1223.0_' '281.77_' '1393.19_'
 '2829.78_' '163.32_' '246.06_' '442.63_' '1036.4_' '1270.65_' '1319.74_'
 '776.31_' '1032.13_' '2286.31_' '1559.16_' '577.4_' '1046.3_' '446.31_'
 '4572.01_' '597.32_' '1255.55_' '473.15_' '2694.09_' '457.32_' '1533.48_'
 '1290.06_' '2352.38_' '369.7_' '1179.95_' '4319.35_' '1745.84_' '1422.8_'
 '805.95_' '137.95_' '1753.33_' '1460.07_' '412.52_' '1443.54_' '810.8_'
 '2663.62_' '2553.1_' '3777.68_' '2563.0_' '2695.77_' '1078.64_'
 '1274.12_' '2127.78_' '3331.54_' '820.04_' '4254.78_' '1261.71_'
 '2010.01_' '493.42_' '153.48_' '272.6_' '1885.3_' '37.71_' '854.02_'
 '601.76_' '645.24_' '2050.42_' '2483.98_' '714.54_' '653.37_' '2301.93_'
 '547.05_' '1308.67_' '1571.26_' '28.85_' '274.48_' '1204.86_' '1034.08_'
 '3830.47_' '2735.13_' '1364.64_' '4108.42_' '990.39_' '1215.11_'
 '4151.04_' '1348.66_' '336.54_' '1013.53_' '1472.86_' '1909.03_'
 '3270.39_' '860.37_' '290.39_' '2866.5_' '1192.4_' '1246.97_' '711.8_'
 '1376.25_' '3549.71_' '4598.96_' '1977.54_' '4632.72_' '655.05_'
 '2559.02_' '453.4_' '777.89_' '864.67_' '2032.49_' '1257.27_' '1171.51_'
 '364.08_' '3509.08_' '693.37_' '1330.29_' '1200.93_' '1205.02_' '889.46_'
 '412.53_' '1374.76_' '1020.27_' '888.02_' '586.55_' '402.23_' '124.1_'
 '651.79_' '1463.48_' '2159.47_' '3080.03_' '809.86_' '1793.37_' '447.18_'
 '154.63_' '98.81_' '2236.0_' '3143.12_' '176.96_' '299.8_' '2563.31_'
 '1616.26_' '1181.13_' '245.46_' '1278.12_' '3011.81_' '379.73_' '384.22_'
 '149.92_' '675.51_' '2077.81_' '3645.73_' '1481.35_' '2813.15_' '785.19_'
 '1811.96_' '2362.56_' '1221.11_' '1385.21_' '418.24_' '1600.43_'
 '1075.37_' '1455.38_' '1056.32_' '639.32_' '2261.01_' '1369.84_'
 '595.44_' '1190.45_' '74.04_' '1112.47_' '3072.15_' '405.99_' '606.48_'
 '1603.52_' '3781.47_' '881.24_' '2802.45_' '1071.33_' '2490.34_'
 '1367.94_' '3313.55_' '1695.41_' '1080.98_' '4733.81_' '1587.62_'
 '1948.99_' '1250.01_' '1732.94_' '899.28_' '1438.65_' '1543.16_'
 '1883.54_' '469.39_' '968.19_' '10.55_' '64.66_' '340.65_' '2918.16_'
 '868.83_' '814.52_' '2683.21_' '1077.27_' '3346.41_' '1671.15_'
 '1067.77_' '757.74_' '385.83_' '1496.11_' '4648.32_' '542.35_' '140.57_'
 '1154.49_' '2575.62_' '465.88_' '159.41_' '2651.74_' '3152.24_'
 '2074.85_' '636.43_' '911.67_' '1344.25_' '1082.86_' '4709.03_' '707.43_'
 '201.05_' '1420.04_' '1752.55_' '1326.06_' '792.46_' '297.64_' '2375.63_'
 '1619.56_' '432.53_' '669.47_' '2654.31_' '600.66_' '724.81_' '1163.48_'
 '1405.42_' '106.28_' '638.57_' '3051.99_' '48.42_' '334.24_' '695.19_'
 '3530.13_' '78.41_' '2899.67_' '3659.35_' '601.78_' '261.59_' '1382.94_'
 '780.59_' '625.84_' '1096.06_' '2044.39_' '340.16_' '82.6_' '335.3_'
 '2115.47_' '91.34_' '233.83_' '1246.99_' '1425.23_' '2245.8_' '1066.48_'
 '3651.35_' '897.82_' '2646.26_' '771.0_' '425.17_' '1302.82_' '2986.89_'
 '2153.66_' '1472.91_' '90.89_' '1064.61_' '103.86_' '4854.6_' '1180.91_'
 '4770.24_' '37.21_' '838.13_' '1722.61_' '758.45_' '464.4_' '2552.26_'
 '1150.54_' '1874.2_' '1188.75_' '1231.39_' '340.22_' '1570.89_'
 '1116.03_' '1386.36_' '239.33_' '1121.05_' '250.99_' '330.47_' '2783.29_'
 '1549.11_' '1133.1_' '64.69_' '863.48_' '4416.93_' '460.46_' '587.16_'
 '1625.55_' '3077.57_' '234.47_' '110.19_' '459.86_' '1820.55_' '1452.74_'
 '4931.01_' '568.61_' '1190.67_' '282.08_' '125.33_' '1023.49_' '1383.88_'
 '2552.06_' '1140.58_' '2048.13_' '1288.02_' '1181.44_' '1059.46_'
 '1621.69_' '954.65_' '367.77_' '1583.58_' '1959.49_' '3562.24_'
 '1055.36_' '921.35_' '1438.18_' '59.58_' '725.13_' '754.8_' '912.63_'
 '836.67_' '1450.15_' '2660.96_' '3145.39_' '1285.51_' '2779.34_'
 '1268.49_' '2911.44_' '1176.76_' '3991.35_' '1506.93_' '1048.02_'
 '1751.09_' '387.39_' '307.19_' '1392.95_' '1490.29_' '1039.62_' '248.71_'
 '157.85_' '735.75_' '605.35_' '4078.71_' '1447.09_' '518.86_' '1240.45_'
 '1216.31_' '926.62_' '695.46_' '281.84_' '1476.59_' '210.01_' '761.2_'
 '345.22_' '1442.28_' '1080.51_' '3398.95_' '915.78_' '1708.53_'
 '1178.78_' '2235.81_' '4417.41_' '1250.71_' '330.21_' '217.5_' '27.19_'
 '667.56_' '953.87_' '1677.29_' '80.09_' '2395.39_' '4461.39_' '1332.7_'
 '463.59_' '2196.5_' '1061.06_' '2150.61_' '443.32_' '334.63_' '39.28_'
 '3783.35_' '1337.34_' '1450.47_' '1161.51_' '2537.45_' '2318.76_'
 '4106.36_' '1566.55_' '437.45_' '1151.35_' '661.03_' '719.76_' '366.46_'
 '598.76_' '263.49_' '542.56_' '1254.45_' '1457.03_' '966.07_' '996.96_'
 '836.95_' '1125.03_' '2334.98_' '1438.91_' '438.74_' '315.39_' '382.17_'
 '1082.56_' '300.47_' '183.3_' '4597.44_' '1179.64_' '2103.16_' '52.07_'
 '2083.35_' '1891.76_' '418.89_' '655.52_' '41.35_' '1461.64_' '954.44_'
 '706.22_' '1816.7_' '1254.14_' '731.37_' '1310.56_' '303.23_' '93.93_'
 '726.75_' '583.73_' '1882.8_' '3783.14_' '50.13_' '1673.76_' '1306.3_'
 '4355.7_' '23.64_' '4921.57_' '2577.55_' '99.33_' '105.89_' '344.46_'
 '624.01_' '2618.46_' '745.43_' '1209.6_' '390.98_' '1402.23_' '2630.82_'
 '534.08_' '876.74_' '835.14_' '2256.77_' '923.5_' '156.14_' '692.75_'
 '3470.89_' '932.69_' '1887.08_' '852.74_' '4953.29_' '2595.94_' '25.16_'
 '991.98_' '146.68_' '2781.7_' '1333.49_' '1249.18_' '585.36_' '1449.78_'
 '731.05_' '422.57_' '817.66_' '1155.21_' '370.22_' '102.46_' '1043.22_'
 '1433.49_' '780.26_' '4948.46_' '738.15_' '342.3_' '69.03_' '4194.87_'
 '551.36_' '789.03_' '2607.71_' '1045.77_' '1154.16_' '173.84_' '696.74_'
 '194.4_' '435.89_' '431.41_' '347.01_' '451.12_' '1378.2_' '1351.51_'
 '327.43_' '378.11_' '430.64_' '407.44_' '747.26_' '714.69_' '1442.1_'
 '3842.25_' '1756.68_' '3360.92_' '443.19_' '561.21_' '613.93_' '1096.02_'
 '1360.66_' '3988.4_' '3025.44_' '1379.19_' '1480.12_' '708.2_' '2953.79_'
 '314.56_' '2693.61_' '619.5_' '4787.13_' '1342.51_' '406.94_' '1090.21_'
 '2517.66_' '1933.79_' '1012.23_' '640.78_' '1182.19_' '636.65_'
 '1799.87_' '3190.38_' '708.27_' '562.05_' '42.69_' '1276.23_' '272.17_'
 '1361.45_' '3813.3_' '1077.91_' '2699.17_' '625.89_' '732.33_' '2608.97_'
 '828.7_' '66.93_' '2027.76_' '1104.44_' '110.71_' '285.29_' '1938.26_'
 '654.12_' '1464.77_' '512.83_' '1392.71_' '64.47_' '412.38_' '544.82_'
 '1233.96_' '3515.45_' '170.53_' '258.04_' '1325.41_' '373.74_' '1198.78_'
 '1347.95_' '97.33_' '506.71_' '1368.62_' '4671.72_' '291.67_' '4986.03_'
 '450.79_' '3530.46_' '86.68_' '16.45_' '132.87_' '127.88_' '3375.66_'
 '1351.26_' '121.26_' '502.78_' '30.31_' '1286.57_' '673.32_' '2130.22_'
 '4137.37_' '1258.59_' '1167.75_' '3332.8_' '558.21_' '741.68_' '1127.98_'
 '427.68_' '860.91_' '970.11_' '327.48_' '1203.25_' '711.08_' '773.2_'
 '335.69_' '3176.77_' '1394.91_' '1475.23_' '1429.96_' '4241.52_'
 '1321.46_' '470.42_' '111.75_' '494.51_' '807.65_' '4138.67_' '1095.9_'
 '1350.85_' '1453.61_' '3571.7_']
Column Payment_Behaviour still contains underscores
['High_spent_Small_value_payments' 'Low_spent_Large_value_payments'
 'Low_spent_Medium_value_payments' 'Low_spent_Small_value_payments'
 'High_spent_Medium_value_payments' 'High_spent_Large_value_payments']

Sample of transformed data:
       ID Customer_ID     Month   Age Occupation  Annual_Income  \
0  0x1602   CUS_0xd40   January  23.0  Scientist       19114.12
1  0x1603   CUS_0xd40  February  23.0  Scientist       19114.12
2  0x1604   CUS_0xd40     March   NaN  Scientist       19114.12
3  0x1605   CUS_0xd40     April  23.0  Scientist       19114.12
4  0x1606   CUS_0xd40       May  23.0  Scientist       19114.12

   Monthly_Inhand_Salary  Num_Bank_Accounts  Num_Credit_Card  Interest_Rate  \
0            1824.843333                  3                4              3
1            1592.843333                  3                4              3
2            1592.843333                  3                4              3
3            1592.843333                  3                4              3
4            1824.843333                  3                4              3

   ...  Credit_Mix Outstanding_Debt  Credit_Utilization_Ratio  \
0  ...         N/A           809.98                 26.822620
1  ...        Good           809.98                 31.944960
2  ...        Good           809.98                 28.609352
3  ...        Good           809.98                 31.377862
4  ...        Good           809.98                 24.797347

      Credit_History_Age  Payment_of_Min_Amount  Total_EMI_per_month  \
0  22 Years and 1 Months                     No            49.574949
1                    NaN                     No            49.574949
2  22 Years and 3 Months                     No            49.574949
3  22 Years and 4 Months                     No            49.574949
4  22 Years and 5 Months                     No            49.574949

  Amount_invested_monthly                 Payment_Behaviour  Monthly_Balance  \
0               80.415295   High_spent_Small_value_payments       312.494089
1              118.280222    Low_spent_Large_value_payments       284.629162
2               81.699521   Low_spent_Medium_value_payments       331.209863
3              199.458074    Low_spent_Small_value_payments       223.451310
4               41.420153  High_spent_Medium_value_payments       341.489231

  Credit_Score
0         Good
1         Good
2         Good
3         Good
4         Good

[5 rows x 26 columns]
['High_spent_Small_value_payments' 'Low_spent_Large_value_payments'
 'Low_spent_Medium_value_payments' 'Low_spent_Small_value_payments'
 'High_spent_Medium_value_payments' 'High_spent_Large_value_payments']

Sample of transformed data:
       ID Customer_ID     Month   Age Occupation  Annual_Income  \
0  0x1602   CUS_0xd40   January  23.0  Scientist       19114.12
1  0x1603   CUS_0xd40  February  23.0  Scientist       19114.12
2  0x1604   CUS_0xd40     March   NaN  Scientist       19114.12
3  0x1605   CUS_0xd40     April  23.0  Scientist       19114.12
4  0x1606   CUS_0xd40       May  23.0  Scientist       19114.12

   Monthly_Inhand_Salary  Num_Bank_Accounts  Num_Credit_Card  Interest_Rate  \
0            1824.843333                  3                4              3
1            1592.843333                  3                4              3
2            1592.843333                  3                4              3
3            1592.843333                  3                4              3
4            1824.843333                  3                4              3

   ...  Credit_Mix Outstanding_Debt  Credit_Utilization_Ratio  \
0  ...         N/A           809.98                 26.822620
1  ...        Good           809.98                 31.944960
2  ...        Good           809.98                 28.609352
3  ...        Good           809.98                 31.377862
4  ...        Good           809.98                 24.797347

      Credit_History_Age  Payment_of_Min_Amount  Total_EMI_per_month  \
0  22 Years and 1 Months                     No            49.574949
1                    NaN                     No            49.574949
2  22 Years and 3 Months                     No            49.574949
3  22 Years and 4 Months                     No            49.574949
4  22 Years and 5 Months                     No            49.574949

  Amount_invested_monthly                 Payment_Behaviour  Monthly_Balance  \
0               80.415295   High_spent_Small_value_payments       312.494089
1              118.280222    Low_spent_Large_value_payments       284.629162
2               81.699521   Low_spent_Medium_value_payments       331.209863
3              199.458074    Low_spent_Small_value_payments       223.451310
4               41.420153  High_spent_Medium_value_payments       341.489231

  Credit_Score
0         Good
1         Good
2         Good
3         Good
4         Good

[5 rows x 26 columns]

# Tratamento de coluna Credit_History_Age

Para podermos trabalhar com a coluna Credit_History_Age é necessário transformá-la em valores: usando uma fórmula simples de years * 12 + months

In [41]:
def convert_credit_history_age_to_months(df, source_col='Credit_History_Age', target_col='Credit_History_Age_Months'):
    """
    Convert credit history from 'XX Years and YY Months' format to total months
    """
    df = df.copy()
    
    # Create function to extract years and months
    def extract_months(x):
        if pd.isna(x) or x == 'NA':
            return np.nan
        
        # Extract years and months using string operations
        years = 0
        months = 0
        
        if 'Years' in str(x):
            years = int(str(x).split('Years')[0].strip())
        if 'Months' in str(x):
            months = int(str(x).split('Months')[0].split('and')[-1].strip())
            
        return years * 12 + months

    # Apply conversion
    df[target_col] = df[source_col].apply(extract_months)
    df = df.drop(columns=[source_col])
    
    return df

# Apply transformation
df_raw = convert_credit_history_age_to_months(df_raw)
print("\nCredit History Age conversion results:")
print(df_raw['Credit_History_Age_Months'].describe())

Credit History Age conversion results:
count    90970.000000
mean       221.195405
std         99.741364
min          1.000000
25%        144.000000
50%        219.000000
75%        302.000000
max        404.000000
Name: Credit_History_Age_Months, dtype: float64

In [42]:
df_raw.describe()

,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance,Credit_History_Age_Months
count,97224.000000,1.000000e+05,1.000000e+05,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,92998.000000,97909.000000,98035.000000,100000.000000,100000.000000,95521.000000,9.880000e+04,90970.000000
mean,33.323274,1.764157e+05,5.743259e+03,17.091280,22.47443,72.466040,3.009960,21.068780,30.923342,10.389025,27.754251,32.285173,1403.118217,637.412998,-3.036437e+22,221.195405
std,10.778909,1.429618e+06,4.581469e+04,117.404834,129.05741,466.422621,62.647879,14.860104,226.031892,6.789496,193.177339,5.116875,8306.041270,2043.319327,3.181295e+24,99.741364
min,14.000000,7.005930e+03,3.036454e+02,-1.000000,0.00000,1.000000,-100.000000,-5.000000,-3.000000,-6.490000,0.000000,20.000000,0.000000,0.000000,-3.333333e+26,1.000000
25%,24.000000,1.945750e+04,1.625793e+03,3.000000,4.00000,8.000000,1.000000,10.000000,9.000000,5.320000,3.000000,28.052567,30.306660,74.534002,2.700922e+02,144.000000
50%,33.000000,3.757861e+04,3.101372e+03,6.000000,5.00000,13.000000,3.000000,18.000000,14.000000,9.400000,6.000000,32.305784,69.249473,135.925682,3.367192e+02,219.000000
75%,42.000000,7.279092e+04,5.971780e+03,7.000000,7.00000,20.000000,5.000000,28.000000,18.000000,14.870000,9.000000,36.496663,161.224249,265.731733,4.702202e+02,302.000000
max,100.000000,2.419806e+07,1.990380e+06,1798.000000,1499.00000,5797.000000,1496.000000,67.000000,4397.000000,36.970000,2597.000000,50.000000,82331.000000,10000.000000,1.602041e+03,404.000000

# Análise para One-hot encoding

Pensando em colunas com strings, valores categóricos, temos sempre algumas opções para o modelo: não usá-las, dar peso para os valores, transformar em número ou fazer hot encoding.
Aqui decidimos por fazr one-hot encoding para colunas que possuem até 10 valores distintos e uma simples substituição para colunas que tenham mais de 10 valores únicos (devido ao maior pedido de processamento que colunas assim teriam ao passar por OHE).
Fizemos a contagem da variável target abaixo não para aplicar o OHE, mas para já entender um pouco mais se estamos trabalhando com um resultado balanceado ou não.

In [43]:
def show_full_value_counts_and_distinct(df, cols):
    """
    For each column, show:
    1) Number of unique values
    2) Value counts
    """
    for col in cols:
        print(f"\n===== {col} (distinct: {df[col].nunique()}) =====")
        print(df[col].value_counts().sort_values(ascending=False).head(20))

# Columns to analyze
cols_to_count = [
    "Type_of_Loan",
    "Credit_Mix",
    "Payment_of_Min_Amount",
    "Payment_Behaviour",
    "Credit_Score",
    "Month",
    "Occupation"
]

show_full_value_counts_and_distinct(df_raw, cols_to_count)

===== Type_of_Loan (distinct: 6260) =====
Type_of_Loan
Not Specified                               1408
Credit-Builder Loan                         1280
Personal Loan                               1272
Debt Consolidation Loan                     1264
Student Loan                                1240
Payday Loan                                 1200
Mortgage Loan                               1176
Auto Loan                                   1152
Home Equity Loan                            1136
Personal Loan, and Student Loan              320
Not Specified, and Payday Loan               272
Mortgage Loan, and Home Equity Loan          264
Student Loan, and Payday Loan                256
Student Loan, and Credit-Builder Loan        248
Credit-Builder Loan, and Not Specified       248
Payday Loan, and Auto Loan                   240
Payday Loan, and Debt Consolidation Loan     240
Payday Loan, and Student Loan                232
Personal Loan, and Credit-Builder Loan       232
Mortgage Loan, and Not Specified             232
Name: count, dtype: int64

===== Credit_Mix (distinct: 4) =====
Credit_Mix
Standard    36479
Good        24337
N/A         20195
Bad         18989
Name: count, dtype: int64

===== Payment_of_Min_Amount (distinct: 3) =====
Payment_of_Min_Amount
Yes    52326
No     35667
NM     12007
Name: count, dtype: int64

===== Payment_Behaviour (distinct: 7) =====
Payment_Behaviour
Low_spent_Small_value_payments      25513
High_spent_Medium_value_payments    17540
Low_spent_Medium_value_payments     13861
High_spent_Large_value_payments     13721
High_spent_Small_value_payments     11340
Low_spent_Large_value_payments      10425
N/A                                  7600
Name: count, dtype: int64

===== Credit_Score (distinct: 3) =====
Credit_Score
Standard    53174
Poor        28998
Good        17828
Name: count, dtype: int64

===== Month (distinct: 8) =====
Month
January     12500
February    12500
March       12500
April       12500
May         12500
June        12500
July        12500
August      12500
Name: count, dtype: int64

===== Occupation (distinct: 16) =====
Occupation
N/A              7062
Lawyer           6575
Architect        6355
Engineer         6350
Scientist        6299
Mechanic         6291
Accountant       6271
Developer        6235
Media_Manager    6232
Teacher          6215
Entrepreneur     6174
Doctor           6087
Journalist       6085
Manager          5973
Musician         5911
Writer           5885
Name: count, dtype: int64

# Executando o One-hot encoding

In [44]:
# Columns for one-hot encoding (those with <=10 unique values)
onehot_cols = ["Credit_Mix", "Payment_of_Min_Amount", "Payment_Behaviour", "Month"]
# Columns for label encoding
index_only = ["Occupation", "Type_of_Loan"]

def encode_columns(df, index_cols, ohe_cols):
    """
    Apply Label Encoding to index_cols and One-Hot Encoding to ohe_cols
    """
    df = df.copy()
    
    # Label Encoding
    le = LabelEncoder()
    for col in index_cols:
        df[f"{col}_idx"] = le.fit_transform(df[col])
        df = df.drop(columns=[col])
    
    # One-Hot Encoding
    df = pd.get_dummies(df, columns=ohe_cols, prefix=ohe_cols)
    
    return df

# Apply encodings
df_raw = encode_columns(df_raw, index_only, onehot_cols)

print("\nEncoded columns (first few rows):")
encoded_cols = ([f"{col}_idx" for col in index_only] + 
                [col for col in df_raw.columns if any(x in col for x in onehot_cols)])
print(df_raw[encoded_cols].head())

print("\nDataset structure after encoding:")
print(df_raw.info())

Encoded columns (first few rows):
   Occupation_idx  Type_of_Loan_idx  Monthly_Inhand_Salary  Monthly_Balance  \
0              13               128            1824.843333       312.494089
1              13               128            1592.843333       284.629162
2              13               128            1592.843333       331.209863
3              13               128            1592.843333       223.451310
4              13               128            1824.843333       341.489231

   Credit_History_Age_Months  Credit_Mix_Bad  Credit_Mix_Good  Credit_Mix_N/A  \
0                      265.0           False            False            True
1                        NaN           False             True           False
2                      267.0           False             True           False
3                      268.0           False             True           False
4                      269.0           False             True           False

   Credit_Mix_Standard  Payment_of_Min_Amount_NM  ...  \
0                False                     False  ...
1                False                     False  ...
2                False                     False  ...
3                False                     False  ...
4                False                     False  ...

   Payment_Behaviour_Low_spent_Small_value_payments  Payment_Behaviour_N/A  \
0                                             False                  False
1                                             False                  False
2                                             False                  False
3                                              True                  False
4                                             False                  False

   Month_April  Month_August  Month_February  Month_January  Month_July  \
0        False         False           False           True       False
1        False         False            True          False       False
2        False         False           False          False       False
3         True         False           False          False       False
4        False         False           False          False       False

   Month_June  Month_March  Month_May
0       False        False      False
1       False        False      False
2       False         True      False
3       False        False      False
4       False        False       True

[5 rows x 27 columns]

Dataset structure after encoding:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 44 columns):
 #   Column                                              Non-Null Count   Dtype
---  ------                                              --------------   -----
 0   ID                                                  100000 non-null  object
 1   Customer_ID                                         100000 non-null  object
 2   Age                                                 97224 non-null   float64
 3   Annual_Income                                       100000 non-null  float64
 4   Monthly_Inhand_Salary                               100000 non-null  float64
 5   Num_Bank_Accounts                                   100000 non-null  int64
 6   Num_Credit_Card                                     100000 non-null  int64
 7   Interest_Rate                                       100000 non-null  int64
 8   Num_of_Loan                                         100000 non-null  int64
 9   Delay_from_due_date                                 100000 non-null  int64
 10  Num_of_Delayed_Payment                              92998 non-null   float64
 11  Changed_Credit_Limit                                97909 non-null   float64
 12  Num_Credit_Inquiries                                98035 non-null   float64
 13  Outstanding_Debt                                    100000 non-null  object
 14  Credit_Utilization_Ratio                            100000 non-null  float64
 15  Total_EMI_per_month                                 100000 non-null  float64
 16  Amount_invested_monthly                             95521 non-null   float64
 17  Monthly_Balance                                     98800 non-null   float64
 18  Credit_Score                                        100000 non-null  object
 19  Credit_History_Age_Months                           90970 non-null   float64
 20  Occupation_idx                                      100000 non-null  int64
 21  Type_of_Loan_idx                                    100000 non-null  int64
 22  Credit_Mix_Bad                                      100000 non-null  bool
 23  Credit_Mix_Good                                     100000 non-null  bool
 24  Credit_Mix_N/A                                      100000 non-null  bool
 25  Credit_Mix_Standard                                 100000 non-null  bool
 26  Payment_of_Min_Amount_NM                            100000 non-null  bool
 27  Payment_of_Min_Amount_No                            100000 non-null  bool
 28  Payment_of_Min_Amount_Yes                           100000 non-null  bool
 29  Payment_Behaviour_High_spent_Large_value_payments   100000 non-null  bool
 30  Payment_Behaviour_High_spent_Medium_value_payments  100000 non-null  bool
 31  Payment_Behaviour_High_spent_Small_value_payments   100000 non-null  bool
 32  Payment_Behaviour_Low_spent_Large_value_payments    100000 non-null  bool
 33  Payment_Behaviour_Low_spent_Medium_value_payments   100000 non-null  bool
 34  Payment_Behaviour_Low_spent_Small_value_payments    100000 non-null  bool
 35  Payment_Behaviour_N/A                               100000 non-null  bool
 36  Month_April                                         100000 non-null  bool
 37  Month_August                                        100000 non-null  bool
 38  Month_February                                      100000 non-null  bool
 39  Month_January                                       100000 non-null  bool
 40  Month_July                                          100000 non-null  bool
 41  Month_June                                          100000 non-null  bool
 42  Month_March                                         100000 non-null  bool
 43  Month_May                                           100000 non-null  bool
dtypes: bool(22), float64(11), int64(7), object(4)
memory usage: 18.9+ MB
None

# Save Processed Dataset
Save the transformed and encoded dataset to the processed data folder for further use in modeling.

In [45]:
# Save the processed dataset to CSV
df_raw.to_csv("../data/processed/creditscore_data_processed.csv", index=False)
print("Dataset saved successfully to '../data/processed/creditscore_data_processed.csv'")

Dataset saved successfully to '../data/processed/creditscore_data_processed.csv'